body {
  background-color;white-space;
  font-family: sans-serif ;
}

h1, h2, p {
  text-align: center;
}
.established{
  font-style: italic;
}
h1,h2{
  font-family: impact,serif;
}
.menu {
  width: 80%;
  background-image: url(https://64.media.tumblr.com/44a1bd00ba6e4f3296f84fa0c1c83ada/60413465a7a7ef0e-d4/s500x750/1192cbf664f03e3c5c9caed01728f4a279237f48.jpg);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.item p {
  display: inline-block;
}
.flavor ,.pastries{
  text-align: left;
  width: 75%;
  color: maroon;
}

.price {
  text-align: right;
  width: 25%;
  color: gold;
}
